@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    background-color: #aae6fa;
}

.header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(17px); 
    overflow: hidden;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0; 
    z-index: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

.branding {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.name {
    color: #3d9a8b;
}

.top-nav {
    overflow: hidden;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.top-nav li {
    float: right;
    margin-left: 10px;
}

.top-nav a {
    display: block;
    color: #3d9a8b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 7px
}

.top-nav a:hover {
    background-color: #ffffffa0;
    color: #2eb19f;
}

.top-nav a.cta-button {
    background-color: #3d9a8b; 
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 32px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.top-nav a.cta-button:hover {
    background-color: #2eb19f; 
}

.image-container {
    width: 450px; 
    height: 450px;
    overflow: hidden;
    border-radius: 50%; 
}

.self-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%; 
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
}

.text {
    width: 50%; 
}

h1 {
    font-size: 48px; 
}

h2 {
    font-size: 18px; 
    text-transform: uppercase;
    letter-spacing: 3px;
}

p {
    font-size: 16px;
}

.styled-link {
    display: inline-block;
    padding: 14px 16px;
    background-color: #3d9a8b;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.styled-link:hover {
    background-color: #2eb19f;
}

.services-container {
    display: flex;
    justify-content: center;
    max-width: 1000px; 
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
}

.services-container h2 {
    font-size: 2em;
    margin-bottom: 30px;
    width: 100%;
}

.service-icon {
    max-width: 50px; 
    margin-bottom: 10px; 
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 20px;
    flex: 1;
    max-width: 300px;
    text-align: center; 
}

.service-card h4 {
    color: #3d9a8b;
}

.service-card p {
    color: #555;
}

.about-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.creative-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 50%; 
    margin-left: 5px;
}

.grid-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.about-icon {
    max-width: 50px;  
}

.about-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 5px;
}

.about-content h2 {
    margin-top: -20px;
    font-size: 2em;
    margin-bottom: 30px; 
    width: 100%;
    text-align: center;
}

.about-content p {
    line-height: auto;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    flex: 1;
    min-width: 300px; 
    max-width: 800px; 
    text-align: center;
}

.project-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px; 
    border-radius: 8px;
}

.contact-container {
    display: flex;
    justify-content: center;
    max-width: 1000px; 
    margin: 0 auto;
    flex-wrap: wrap;
}

.contact-container h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    width: 100%;
}

.contact-card {
    max-width: 600px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px; 
}

.contact-card h2 {
    font-size: 2em;
    margin-bottom: 30px;
    text-align: center; 
}

.contact-card label {
    color: #3d9a8b;
    font-weight: bold;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    margin-top: 20px;
    font-size: 1em;
    color: #555;
    font-family: Poppins;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contact-form button {
    background-color: #3d9a8b; 
    border: none;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contact-form button:hover {
    background-color: #2eb19f;
}

.bottom-nav-bar {
    background-color: #3d9a8b;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px; 
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
    box-sizing: border-box; 
    overflow-x: hidden; 
}

.bottom-nav {
    overflow: hidden;
}

.bottom-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 22px;
    overflow: hidden;
}

.bottom-nav li {
    float: left;
    margin-right: 14px;
}

.bottom-nav a img {
    max-width: 20px; 
    display: block;
    padding: 10px;
}

.copyright {
    color: white;
    padding: 10px; 
    margin-right: 22px;
}

section {
    height: 100vh; 
    padding: 20px;
    margin: 0; 
}

section#home {
    height: auto;
}

section#services {
    height: auto;
    padding: 100px 0px;
    background-color: #9ce6ff;
}

section#about {
    height: auto;
    padding: 100px 0px;
    background-color: #98e3fc;
}

section#skills {
    height: auto;
    padding: 100px 0px;
    background-color: #9ce6ff;
}

section#contact {
    height: auto;
    padding: 100px 0px;
}

/* Media Query for smaller screens (e.g., mobile phones) */
@media only screen and (max-width: 768px) {

    .header {
        font-size: 14px; /* Adjust the font size as needed */
        text-align: center; /* Center the text in the header */
    }

    .branding {
        display: none;
    }

    .top-nav {
        margin: 10px 0; /* Adjust top and bottom margin */
        display: flex;
        justify-content: space-between; /* Space items evenly */
        align-items: center; /* Center vertically */
        flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
    }

    .top-nav a {
        padding: 10px; /* Adjust padding as needed */
        margin: 5px; /* Add margin between links */
        font-size: 8px; /* Adjust font size as needed */
        float: left; /* Float links to the left */
    }

    .top-nav a.cta-button {
        margin: 0px 10px; /* Adjust margin for the button */
        font-size: 8px; /* Adjust font size for the button */
        float: right; /* Float button to the right */
    }

    .content {
        flex-direction: column-reverse;
        align-items: center; 
        padding: 20px; 
    }

    .text {
        width: 100%; 
        text-align: center; 
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .image-container {
        width: 100%; 
        max-width: 280px; 
        max-height: 280px;
    }

    h1 {
        font-size: 2em; 
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-card {
        width: 57%; 
        max-width: none; 
        margin: 10px 40px; 
    }

    .about-container {
        flex-direction: column;
        align-items: center; 
    }

    .creative-grid {
        width: 100%; 
        margin-left: 0;
        margin-right: 0; 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; 
    }

    .grid-card {
        width: 50px;
        height: 50px; 
        margin: 10px; 
    }

    .about-content {
        width: 100%; 
        margin-right: 20px; 
        margin-left: 20px;
        text-align: center;
    }

    .about-content h2 {
        padding-top: 80px; 
    }

    .about-content p {
        margin: 0 70px; 
        line-height: 1.6; 
    }

    .contact-card {
        padding: 20px; 
        margin: 10px 72px; 
        width: 90%; 
        max-width: none; 
    }

    .bottom-nav-bar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bottom-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottom-nav li {
        margin-right: 14px;
    }

    .bottom-nav a img {
        max-width: 20px;
        padding: 10px;
    }

    .copyright {
        margin-right: 0;
        margin-top: 10px;
    }
}